.main {
    color: rgb(35, 39, 35);
    position: relative;
    left: 36.5vw
}

.name1 {
    margin-top: 1vw;
    margin-bottom: 2vw;
    background-color: #f4f4f4;
    width: 16%;
    padding-left: 10vw !important;
    padding: 1vw;
    padding-bottom: 2vw;
}

.name1 h3 , .name2 h3 {
    margin-bottom: 0px;
}

.name2 {
    background-color: #f4f4f4;
    width: 17%;
    padding: 1vw;
    padding-bottom: 2vw;
    position: relative;
    left: 3vw;
    padding-left: 3vw;
}